Repository kookmin-sw/capstone-2021-3: changes, and which lefthook commands are due for each by the changed paths.
All: app-pretty, backend-lint, backend-isort

app-pretty:
  run: flutter format {staged_files} && git add {staged_files}

backend-lint:
  black: null
  tags: backend
  run: black {staged_files}

backend-isort:
  tags: backend
  run: isort {staged_files}

구현 : 앱 버전 설정
  app/inobus/android/app/build.gradle
  app/inobus/lib/pages/setting_page.dart
  app/inobus/pubspec.yaml
Due: app-pretty

구현 : drawer 구성 사용자 정보로 바꿈
  app/inobus/lib/widgets/app_drawer.dart
Due: app-pretty

구현 : 추첨권 페이지 포인트 배경 투명으로 변경
  app/inobus/lib/pages/point_page.dart
Due: app-pretty

수정 : 불필요 var 및 print문 삭제
  app/inobus/lib/api/device.dart
  app/inobus/lib/api/orgainzation.dart
  app/inobus/lib/api/user.dart
  app/inobus/lib/models/auth_service.dart
  app/inobus/lib/pages/introduction/1_login_page.dart
  app/inobus/lib/pages/introduction/2_after_login_page.dart
  app/inobus/lib/pages/map_page.dart
  app/inobus/lib/pages/setting_page.dart
  app/inobus/lib/pages/user_history_page.dart
  app/inobus/lib/widgets/login_button.dart
Due: app-pretty

구현 : 지도에 핀 색상 주황색으로 변경
  app/inobus/lib/api/device.dart
Due: app-pretty

수정 : 애플로그인 막아 놓기
  app/inobus/lib/pages/introduction/1_login_page.dart
Due: app-pretty

버그: .env 파일 Line ending LF로 변경
  .gitattributes
Due: none

구현 : 회원가입 로딩 추가
  app/inobus/lib/pages/introduction/1_login_page.dart
  app/inobus/lib/pages/introduction/2_after_login_page.dart
  app/inobus/lib/pages/setting_page.dart
  app/inobus/lib/pages/user_history_page.dart
Due: app-pretty

구현: 파이어베이스 DB 접근부 모듈화 하여 분리
  backend/utils/firebasedb.py
Due: backend-lint, backend-isort

구현: 코드리뷰 반영(모델활용)
  backend/models/data.py
  backend/models/device.py
  backend/models/organization.py
  backend/models/user.py
  backend/routes/devices.py
  backend/routes/organizations.py
  backend/routes/rewards.py
  backend/routes/users.py
  backend/utils/firebasedb.py
Due: backend-lint, backend-isort

구현: 모델관련 수정
  backend/docs.html
  backend/models/data.py
  backend/models/device.py
  backend/models/user.py
  backend/routes/rewards.py
  backend/routes/users.py
  backend/utils/firebasedb.py
Due: backend-lint, backend-isort

수정: 코드리뷰 수정
  backend/docs.html
  backend/routes/organizations.py
  backend/routes/rewards.py
Due: backend-lint, backend-isort

수정: HTTP ststus code 수정
  backend/docs.html
  backend/routes/rewards.py
Due: backend-lint, backend-isort

구현: RabbitMQ 보안설정
  .gitattributes
  backend/.env.example
  backend/.gitignore
  backend/common.yaml
  backend/docker-compose.dev.yaml
  backend/docker-compose.prod.yaml
  backend/docker/Dockerfile.rabbitmq
  backend/docker/rabbitmq/definitions_template.json
  backend/docker/rabbitmq/generate_password.py
  backend/docker/rabbitmq/init.sh
  backend/docker/rabbitmq/rabbitmq.config
  backend/rabbitmq.conf
Due: backend-lint, backend-isort

문서: 폴더 및 파일 구조 업데이트, 배포과정추가, 실행방법 업데이트
  backend/README.md
Due: none

포맷: isort, black 적용
  backend/docker/rabbitmq/generate_password.py
  backend/main.py
Due: backend-lint, backend-isort

버그: Reidrect 횟수 초과 문제로 미들웨어 제거
  backend/.env.example
  backend/config.py
  backend/docker-compose.prod.yaml
  backend/main.py
Due: backend-lint, backend-isort

구현 : 두번 눌러서 시스템 종료 - 로그아웃 후 회원가입 부분 - 멥 부분
  app/inobus/lib/models/auth_service.dart
  app/inobus/lib/pages/introduction/1_login_page.dart
  app/inobus/lib/pages/introduction/2_after_login_page.dart
  app/inobus/lib/pages/introduction_page.dart
  app/inobus/lib/pages/map_page.dart
  app/inobus/lib/pages/pages.dart
  app/inobus/lib/pages/setting_page.dart
  app/inobus/lib/routes.dart
  app/inobus/pubspec.yaml
Due: app-pretty

구현 : 안드로이드 IOS 구별 - 로그인 실패시 알림창 뜨게 만들기 - 안드로이드는 구글 로그인만 보이게 만들기
  app/inobus/lib/pages/introduction/1_login_page.dart
Due: app-pretty

구현 : 클릭 필요 없는 박스 일반 박스로 변경
  app/inobus/lib/pages/map_page.dart
  app/inobus/lib/pages/point_page.dart
  app/inobus/lib/pages/user_history_page.dart
  app/inobus/lib/widgets/circle_box.dart
Due: app-pretty

구현 : 카카오 오픈채팅방 url 연결
  app/inobus/lib/pages/support/support_page.dart
Due: app-pretty

수정 : .fvm 파일 ignore
  app/inobus/.gitignore
Due: none

수정 : ios swift 버그 수정
  app/inobus/ios/Runner/AppDelegate.swift
Due: none

수정: 딥러닝 문서 수정
  deep_learning/README.md
  deep_learning/resources/colab_dataset.png
  deep_learning/resources/data_storage.png
  deep_learning/resources/dataset_example.png
Due: none

수정 : merge 충돌 문제 해결
  app/inobus/lib/pages/map_page.dart
Due: app-pretty

추가: 파이어베이스 패키지 추가
  backend/.gitignore
  backend/docker/Dockerfile.api
  backend/requirements/deployment.txt
  backend/requirements/development.txt
Due: none

Update README.md
  README.md
Due: none

포맷 : format, analyze
  app/inobus/lib/pages/introduction/1_login_page.dart
Due: app-pretty

버그: service account file ignore에 추가
  backend/.gitignore
Due: none

수정: 월별 기록 API 에러 수정
  backend/docs.html
  backend/routes/users.py
Due: backend-lint, backend-isort

수정: 컵투입등록 API 제거
  backend/docs.html
  backend/routes/rewards.py
Due: backend-lint, backend-isort

수정 : 사용자 티켓 api 연결
  app/inobus/android/app/src/main/AndroidManifest.xml
  app/inobus/ios/Runner/AppDelegate.swift
  app/inobus/lib/api/api.dart
  app/inobus/lib/models/auth_service.dart
  app/inobus/lib/pages/point_page.dart
Due: app-pretty

버그: Rabbitmq User permission 및 예제 비번 수정
  backend/.env.example
  backend/docker/rabbitmq/definitions_template.json
Due: none

구현 : 노션 대신 회사 홈페이지 연결
  app/inobus/lib/pages/support/support_page.dart
Due: app-pretty

구현: 포인트 적립에서 유저를 지우고 기기만 남김
  backend/main_consumer.py
  iot/iot_utils/database.py
  iot/iot_utils/publisher.py
  iot/main.py
  iot/mqtt_setting.py
Due: backend-lint, backend-isort

수정 : 불필요한 print문 삭제
  app/inobus/lib/pages/point_page.dart
Due: app-pretty

버그: systemd service 파일 위치 수정
  iot/install.sh
Due: none

버그: python3.7문제로 cached_property를 lru_cache로 변경
  iot/config.py
Due: none

Path conditions:
  app-pretty: any of: *.dart and ^app/
  backend-lint: any of: *.py and ^backend/
  backend-isort: any of: *.py and ^backend/
