Repository kookmin-sw/capstone-2021-3: changes, and which lefthook commands are due for each by the changed paths.
All: app-pretty, backend-lint, backend-isort

lefthook.yml:

pre-push:
  parallel: true
  commands:
    # 테스트 사용 시 주석 해제
    # app-tests:
    #   glob: '*.dart'
    #   run: flutter test
    app-linter:
      glob: "*.dart"
      run: flutter analyze

pre-commit:
  commands:
    app-pretty:
      root: "app/"
      glob: "*.dart"
      run: flutter format {staged_files} && git add {staged_files}
    backend-lint:
      black:
      tags: backend
      root: "backend/"
      glob: "*.py"
      run: black {staged_files}
    backend-isort:
      tags: backend
      root: "backend/"
      glob: "*.py"
      run: isort {staged_files}
  scripts:
    "export_docs.py":
      tags: backend
      runner: python

리팩터: database.py를 utils에 포함
  backend/README.md
  backend/utils/database.py
Due: backend-lint, backend-isort

문서: Readme 인트로 수정, 영어 추가
  README.md
  resources/SS_SAM.png
Due: none

구현: 모든 쓰샘 기기의 리스트 조회 #62
  backend/routes/devices.py
Due: backend-lint, backend-isort

구현: 팀기여를 개인기여로 변경
  backend/models/team.py
  backend/models/user.py
  backend/routes/organizations.py
Due: backend-lint, backend-isort

구현: 쓰샘이 설치된 기관의 포인트로 내림차순으로 정렬된 리스트 조회 #61
  backend/routes/organizations.py
Due: backend-lint, backend-isort

구현: 입력한 기관 이름으로 정보 조회
  backend/routes/organizations.py
Due: backend-lint, backend-isort

구현: 기관에 속한 개인의 리스트 조회 #61
  backend/routes/organizations.py
Due: backend-lint, backend-isort

구현: 기관에 속한 특정 개인의 정보 조회
  backend/models/user.py
  backend/routes/organizations.py
Due: backend-lint, backend-isort

구현: 두 좌표간의 거리 계산 구현 #57
  backend/utils/distance.py
Due: backend-lint, backend-isort

구현: 사용자 근처 쓰샘 기기 반환 API 구현 #57
  backend/routes/devices.py
Due: backend-lint, backend-isort

구현: str to datetime 유틸, logger 유틸 구현
  backend/utils/datetime.py
  backend/utils/logger.py
Due: backend-lint, backend-isort

구현: IOT 기기에서 받아오는 데이터를 디비에 반영
  backend/main.py
  backend/models/data.py
  backend/requirements/deployment.txt
  backend/requirements/development.txt
  backend/routes/mqtt.py
Due: backend-lint, backend-isort

수정: 환경변수의 큰따옴표 제거
  backend/docker-compose.dev.yaml
  backend/envs/.env.api.local
Due: none

수정: InMemory mongodb 사용조건 문제
  backend/database.py
Due: backend-lint, backend-isort

수정: Datetime에 timezone 반영
  backend/utils/datetime.py
Due: backend-lint, backend-isort

수정: DB에 넣는 데이터 변수가 달랐음
  backend/routes/mqtt.py
Due: backend-lint, backend-isort

구현: MQTT Client 그룹, 포인트 ,적재량 데이터 송,수신
  iot/README.md
  iot/__init__.py
  iot/base.py
  iot/config.py
  iot/example.env
  iot/main.py
  iot/publisher.py
  iot/requirements.txt
Due: none

포맷 : final 붙이기 - 변하지 않는 객체를 final로 정의 issue #74
  app/inobus/lib/page/rank.dart
Due: app-pretty

리팩터 : 변경된 배경,이미지 변경 - 새로 변경된 디자인 적용 issue #80
  app/inobus/lib/frame/introduce.dart
  app/inobus/lib/main.dart
Due: app-pretty

포맷 : 대표 색상 변경 - 0xffF04C18에서 0xffE8551A으로 대표색상 변경 - 텍스트 띄어쓰기 수정 - 불필요한 주석 삭제
  app/inobus/lib/frame/introduce.dart
  app/inobus/lib/main.dart
Due: app-pretty

문서: 딥러닝 README 따로 옮김
  README.md
  deep_learning/README.md
Due: none

삭제: 기존 분리배출민족 프로젝트 문서 삭제
  Docs/img/0001.jpg
  Docs/img/0002.jpg
  Docs/img/0003.jpg
  Docs/img/0004.jpg
  Docs/img/0005.jpg
  Docs/img/0006.jpg
  Docs/img/0007.jpg
  Docs/img/0008.jpg
  Docs/img/0009.jpg
  Docs/img/0010.jpg
  Docs/img/0011.jpg
  Docs/img/0012.jpg
  Docs/아이디어 해커톤 대회_K-분리배출.pdf
Due: none

문서: 중간발표자료 업로드
  docs/2021 캡스톤 3조 중간발표 자료.pdf
Due: none

리팩터 : 변경된 디자인 적용 - 새로 변경된 소개 페이지 디자인 적용 - 0xffF04C18에서 0xffE8551A으로 대표색상 변경 issue #80
  app/inobus/lib/frame/introduce.dart
  app/inobus/lib/main.dart
Due: app-pretty

포맷 : class주석 맞추기 - IntroducePage, Explanation 클래스 주석 issue #80
  app/inobus/lib/frame/introduce.dart
Due: app-pretty

Doc: 중간발표 영상링크 추가
  README.md
Due: none

버그: deep_learning requirements.txt 버전 고침
  deep_learning/README.md
  deep_learning/requirements.txt
Due: none

구현: 이노버스 v3
  deep_learning/inobus_pet_v3/__init__.py
  deep_learning/inobus_pet_v3/inobus_pet_v3.py
  deep_learning/inobus_pet_v3_classification.ipynb
  deep_learning/inobus_pet_v3_classification_imagenet.ipynb
Due: none

추가 : 소개 페이지 이미지 추가,삭제 - 이노버스 제공 소개페이지 관련 이미지 추가, 삭제
  app/inobus/assets/introduce/backimg.png
  app/inobus/assets/introduce/backimg1.png
  app/inobus/assets/introduce/backimg2.png
  app/inobus/assets/introduce/img1.jpg
  app/inobus/assets/introduce/img1.png
  app/inobus/assets/introduce/img2.jpg
  app/inobus/assets/introduce/img2.png
  app/inobus/assets/introduce/img3.jpg
  app/inobus/assets/introduce/img3.png
  app/inobus/assets/introduce/img4.jpg
  app/inobus/assets/introduce/img4.png
  app/inobus/assets/introduce/introduce3.jpg
  app/inobus/assets/introduce/introduce4.jpg
  app/inobus/assets/introduce/introduce_backimg1.PNG
  app/inobus/assets/introduce/introduce_backimg2.PNG
Due: none

구현 : 소개 페이지 디자인 - 핸드폰 비율을 이용하여 구성 #80
  app/inobus/lib/frame/introduce.dart
  app/inobus/pubspec.yaml
Due: app-pretty

구현 : 메뉴 구성 - 메뉴에 구성할 부분 틀 만들기 #98
  app/inobus/lib/page/login.dart
  app/inobus/lib/page/menu.dart
  app/inobus/lib/page/version.dart
  app/inobus/pubspec.lock
  app/inobus/pubspec.yaml
Due: app-pretty

구현 : url_launcher 사용에 필요한 구성 - android와 ios 각각 알맞게 수정 #98
  app/inobus/android/app/src/main/AndroidManifest.xml
  app/inobus/ios/Runner/Info.plist
Due: none

포맷 : 포맷 변화 - LogIn -> Log in # 98
  app/inobus/lib/page/login.dart
Due: app-pretty

구현 : 구글 로그인 안드로이드 - 구글 로그인 안드로이드 버전 완성 issue #100
  app/inobus/android/app/build.gradle
  app/inobus/android/app/google-services.json
  app/inobus/android/build.gradle
  app/inobus/ios/Runner/GoogleService-Info.plist
  app/inobus/ios/Runner/Info.plist
  app/inobus/lib/page/login.dart
  app/inobus/pubspec.lock
  app/inobus/pubspec.yaml
Due: app-pretty

수정 : 필요 없는 주석 삭제 issue #100
  app/inobus/android/app/build.gradle
Due: none

구현 : google을 통한 로그인 버튼 생성 - 버튼에 적을 string (text) - 로고 저장 경로 string(logoloc) - 버튼 가장자리 색상 color(outlinecolor) - 버튼 클릭시 사용되는 함수 (onpress)
  app/inobus/lib/frame/loginbutton.dart
  app/inobus/lib/page/login.dart
Due: app-pretty

수정 : 이노버스 공식으로 key 변경 - 구글지도 사용을 위한 api key 변경 - 이노버스 이메일로 google cloud platform 에서 key 발급 적용
  app/inobus/android/app/src/main/AndroidManifest.xml
  app/inobus/ios/Runner/AppDelegate.swift
Due: none

수정: 환경변수 IOT_HOST, IOT_PORT 제거
  iot/config.py
  iot/example.env
Due: none
