Repository kookmin-sw/capstone-2021-3: changes, and which lefthook commands are due for each by the changed paths.
All: app-pretty, backend-lint, backend-isort

app-pretty:
  run: flutter format {staged_files} && git add {staged_files}

backend-lint:
  black: null
  tags: backend
  run: black {staged_files}

backend-isort:
  tags: backend
  run: isort {staged_files}

수정 : 리뷰 남긴 사항들 수정 - final 선언 - 사용하지 않는 함수 제외
  app/inobus/lib/pages/barcode_page.dart
  app/inobus/lib/pages/information_page.dart
  app/inobus/lib/pages/map_page.dart
Due: app-pretty

추가: IOT 설치 스크립트, Systemd에 클라이언트 등록
  iot/install.sh
  iot/mqtt_client.service
Due: none

구현: mqtt client initialized 상태 추가
  iot/main.py
  iot/mqtt_setting.py
Due: none

리팩토링: 버튼 class로 따로 빼기
  app/inobus/lib/pages/barcode_page.dart
Due: app-pretty

수정 : 리뷰관련 내용 수정
  app/inobus/lib/pages/information_page.dart
Due: app-pretty

수정 : Appbar 뒤로가기 버튼 기능 원상복구
  app/inobus/lib/pages/map_page.dart
Due: app-pretty

리펙토링 : 경고 수정 - Expanded로 인하여 발생하는 경고 수정
  app/inobus/lib/pages/barcode_page.dart
Due: app-pretty

구현 : 설정 페이지 디자인 구현 - 각 버튼의 이동은 구현하지 않음 Issue #129
  app/inobus/lib/pages/setting_page.dart
Due: app-pretty

추가 : flutter vesrion 고정
  app/inobus/.fvm/fvm_config.json
  app/inobus/pubspec.lock
Due: none

추가 : 비밀키 올리기
  app/inobus/android/app/build.gradle
  app/inobus/android/google-services.json
  app/inobus/ios/Runner/AppDelegate.swift
  app/inobus/ios/Runner/GoogleService-Info.plist
  app/inobus/ios/Runner/Info.plist
Due: none

수정 : 잘못 수정한 내용
  app/inobus/lib/routes.dart
Due: app-pretty

수정 : 구글 지도 세팅 수정 - 이전에 잘못 구글키를 넣고 json 파일 위치를 잘못함 Isseu #119
  app/inobus/android/app/build.gradle
  app/inobus/android/app/google-services.json
  app/inobus/android/app/src/main/AndroidManifest.xml
Due: none

수정 : 바코드 만드는 페이지 삭제
  app/inobus/lib/pages/introduction/2_after_login_page.dart
  app/inobus/lib/pages/introduction/3_make_barcode_page.dart
  app/inobus/lib/pages/introduction_page.dart
Due: app-pretty

수정 : 버전 변화 및 flutter channel 변화로 인한 충돌 문제 해결
  app/inobus/android/gradle.properties
  app/inobus/pubspec.lock
  app/inobus/pubspec.yaml
Due: none

구현 : currentUser 사용하여 사용자 설정 - 사용자는 이름, id 값만 firbase에 가져온다. - 설정 페이지에 임의 로그아웃 버튼 생성 Issue #119
  app/inobus/lib/login/google_login.dart
  app/inobus/lib/pages/setting_page.dart
  app/inobus/lib/widgets/app_drawer.dart
Due: app-pretty

수정 : app-ci 원래 상태로 돌리기
  .github/workflows/app-ci.yml
Due: none

구현: 쓰샘 기기용 REST API 설계 및 구현
  backend/docs.html
  backend/main.py
  backend/models/data.py
  backend/models/device.py
  backend/models/user.py
  backend/routes/rewards.py
Due: backend-lint, backend-isort

구현: 사용자 관리 관련 API 삭제
  backend/routes/users.py
Due: backend-lint, backend-isort

구현: 본인 정보 반환 API 구현 #134
  backend/routes/rewards.py
  backend/routes/users.py
Due: backend-lint, backend-isort

구현: support 페이지
  app/inobus/lib/pages/pages.dart
  app/inobus/lib/pages/support/faq_page.dart
  app/inobus/lib/pages/support/privacy_policy_page.dart
  app/inobus/lib/pages/support/support_page.dart
  app/inobus/lib/pages/support/terms_of_service_page.dart
  app/inobus/lib/pages/support/widgets/support_footer.dart
  app/inobus/lib/pages/support/widgets/support_title.dart
  app/inobus/lib/routes.dart
  app/inobus/pubspec.lock
  app/inobus/pubspec.yaml
Due: app-pretty

수정 : print문 log문으로 변경
  app/inobus/lib/login/google_login.dart
  app/inobus/pubspec.lock
Due: app-pretty

추가 : 구글 로그인 파일 추가 - 파일 추가 - 초기 세팅 Issue #119
  app/inobus/android/app/build.gradle
  app/inobus/android/app/google-services.json
  app/inobus/android/build.gradle
  app/inobus/ios/Runner/AppDelegate.swift
  app/inobus/ios/Runner/GoogleService-Info.plist
  app/inobus/ios/Runner/Info.plist
  app/inobus/pubspec.lock
  app/inobus/pubspec.yaml
Due: none

구현 : Firebase를 이용한 구글 로그인/아웃 함수 만들기 - Firebase 초기화 - User 클래스 만들기 - 로그인/아웃 함수 구현 Issue #119
  app/inobus/lib/login/login.dart
  app/inobus/lib/main.dart
Due: app-pretty

리팩터: Config 객체를 만들어 각 setting들을 lazy하게 호출가능하도록 수정
  backend/config.py
  backend/database.py
  backend/docs.html
  backend/main.py
  backend/routes/mqtt.py
Due: backend-lint, backend-isort

리팩터: fastapi-mqtt를 사용한 mqtt 라우터를 api에서 제거
  backend/docs.html
  backend/main.py
  backend/routes/mqtt.py
Due: backend-lint, backend-isort

리팩터: gunicorn 설정을 Dockerfile에서 제거 및 포트 80:80 고정
  backend/common.yaml
  backend/docker-compose.dev.yaml
  backend/docker/Dockerfile.api
  backend/docs.html
Due: none

수정 : 필요 없는 페이지 삭제 - 바코드 닉네임 만들어 주는 페이지 삭제
  app/inobus/lib/pages/introduction/3_make_barcode_page.dart
  app/inobus/lib/pages/introduction_page.dart
  app/inobus/lib/pages/pages.dart
Due: app-pretty

구현 : Firebase를 이용한 구글 로그인/아웃 함수 만들기 - AuthService 클래스 만들기 - 로그인/아웃 함수 구현 Issue #119
  app/inobus/lib/login/login.dart
  app/inobus/lib/models/auth_service.dart
Due: app-pretty

구현 : 유저 정보 활용하기 - 사용자 이름 - UID 값으로 바코드 구현 Issue #131
  app/inobus/lib/pages/barcode_page.dart
  app/inobus/lib/pages/introduction/1_login_page.dart
  app/inobus/lib/pages/setting_page.dart
  app/inobus/lib/widgets/app_drawer.dart
Due: app-pretty

수정: http.get 파라미터 타입을 String에서 Uri 로 변경
  app/inobus/lib/api/device.dart
  app/inobus/lib/api/orgainzation.dart
Due: app-pretty

구현: 개발, 배포 환경 모두 필요한 서비스 기다리도록 스크립트 수정
  backend/docs.html
  backend/prestart-local.sh
  backend/prestart.sh
Due: none

버그: user 필드의 타입을 str에서 PyObjectId로 수정
  backend/docs.html
  backend/models/data.py
Due: backend-lint, backend-isort

추가 : 이노버스 제공 이미지 추가 - 스마일 모양 이미지 추가
  app/inobus/assets/images/smile_grey.PNG
  app/inobus/assets/images/smile_purple.PNG
  app/inobus/lib/app_images.dart
Due: app-pretty

구현 : 이용안내 페이지 구현 - 쓰샘 기기 및 바코드 사용 방법 페이지 - 추첨권/포인트 서비스 안내 페이지 - RouteArgument의 selectList에 따라 다른 list(기기이용, 추췀군/포인트안내)를 보여준다. Issue #124
  app/inobus/lib/models/route_argument.dart
  app/inobus/lib/pages/barcode_page.dart
  app/inobus/lib/pages/information/explan_main.dart
  app/inobus/lib/pages/information/use_barcode.dart
  app/inobus/lib/pages/information/use_lottery.dart
  app/inobus/lib/pages/information_page.dart
  app/inobus/lib/pages/pages.dart
  app/inobus/lib/routes.dart
  app/inobus/lib/widgets/information_page.dart
Due: app-pretty

구현 : 이용 안내 페이지 구현 - 이용 안내 페이지 디자인 구현 - 이용 안내 페이지에 사용되는 버튼 구현(circle_button.dart) Issue #124
  app/inobus/lib/pages/barcode_page.dart
  app/inobus/lib/pages/information/use_barcode.dart
  app/inobus/lib/pages/information/use_lottery.dart
  app/inobus/lib/pages/information_page.dart
  app/inobus/lib/widgets/circle_button.dart
  app/inobus/lib/widgets/page_info_one_image.dart
Due: app-pretty

구현: IOT 기기의 메시지를 처리하는 consumer 서비스
  backend/.env.example
  backend/common.yaml
  backend/config.py
  backend/docker-compose.dev.yaml
  backend/docker-compose.prod.yaml
  backend/docs.html
  backend/gunicorn_conf.py
  backend/main_consumer.py
  backend/requirements/deployment.txt
  backend/requirements/development.txt
  backend/utils/logger.py
Due: backend-lint, backend-isort

구현: MQTT Client 백엔드 변경사항 적용, 포인트 수신 시 로컬 데이터 업데이트
  backend/docs.html
  iot/.env.example
  iot/config.py
  iot/iot_utils/database.py
  iot/iot_utils/logger.py
  iot/iot_utils/publisher.py
  iot/main.py
  iot/mqtt_setting.py
Due: none

구현: 유저가 최근 6개월간 월별 포인트 실적 조회 #142
  backend/routes/users.py
Due: backend-lint, backend-isort

수정: 함수명 변경
  backend/routes/rewards.py
Due: backend-lint, backend-isort

Path conditions:
  app-pretty: any of: *.dart and ^app/
  backend-lint: any of: *.py and ^backend/
  backend-isort: any of: *.py and ^backend/
