Repository kookmin-sw/capstone-2021-3: changes, and which lefthook commands are due for each by the changed paths.
All: app-pretty, backend-lint, backend-isort

lefthook.yml:

pre-push:
  parallel: true
  commands:
    # 테스트 사용 시 주석 해제
    # app-tests:
    #   glob: '*.dart'
    #   run: flutter test
    app-linter:
      glob: "*.dart"
      run: flutter analyze

pre-commit:
  commands:
    app-pretty:
      root: "app/"
      glob: "*.dart"
      run: flutter format {staged_files} && git add {staged_files}
    backend-lint:
      black:
      tags: backend
      root: "backend/"
      glob: "*.py"
      run: black {staged_files}
    backend-isort:
      tags: backend
      root: "backend/"
      glob: "*.py"
      run: isort {staged_files}
  scripts:
    "export_docs.py":
      tags: backend
      runner: python

리팩터 : setState문 밖으로 빼기
  app/inobus/lib/page/qr.dart
Due: app-pretty

구현: 랭크페이지 json 파일 기반 보여주기 (issue : #40)
  app/inobus/assets/test/organizations.json
  app/inobus/lib/api/json.dart
  app/inobus/lib/page/rank.dart
  app/inobus/pubspec.yaml
Due: app-pretty

구현: 4위 랭크 부터는 스크롤로 볼 수 있게 구현 (issue :#40)
  app/inobus/assets/test/organizations.json
  app/inobus/lib/page/rank.dart
Due: app-pretty

구현 : 쓰샘 위치 지도에 표시(issue: #45)
  app/inobus/lib/page/map.dart
Due: app-pretty

구현: 쓰샘 위치 지도에 표시 (issue: #45)
  app/inobus/lib/page/map.dart
Due: app-pretty

구현: Python dotenv 적용, Mongodb 연결
  .lefthook/pre-commit/export_docs.py
  backend/database.py
  backend/docs.html
  backend/envs/.env.local
  backend/main.py
  backend/requirements/deployment.txt
  backend/requirements/development.txt
  backend/utils/get_dot_env.py
Due: backend-lint, backend-isort

구현: docker-compose 적용 및 container 시작 순서 조정
  backend/.dockerignore
  backend/docker-compose.dev.yaml
  backend/docker-compose.prod.yaml
  backend/docker/Dockerfile
  backend/docs.html
  backend/prestart-local.sh
Due: none

포맷: 마지막 줄에 newline 추가
  backend/docs.html
  backend/gunicorn_conf.py
Due: backend-lint, backend-isort

문서: docker, docker-compose 활용법 추가, 폴더 및 파일 구조 업데이트
  backend/README.md
  backend/docs.html
Due: none

리팩터: database.py를 utils에 포함
  backend/README.md
  backend/utils/database.py
Due: backend-lint, backend-isort

Revert "구현: 4위 랭크 부터는 스크롤로 볼 수 있게 구현 (issue :#40)"
  app/inobus/assets/test/organizations.json
  app/inobus/lib/page/rank.dart
Due: app-pretty

Revert "구현: 랭크페이지 json 파일 기반 보여주기 (issue : #40)"
  app/inobus/assets/test/organizations.json
  app/inobus/lib/api/json.dart
  app/inobus/lib/page/rank.dart
  app/inobus/pubspec.yaml
Due: app-pretty

Revert "구현: 랭크페이지 json 파일 기반 보여주기" - assets/test/organizations.json 파일을 테스트로 불러와 랭크르리 보여준다 - Expanded와 Listview를 이용하여 한번에 보이지 않는 부분은 일부 스크롤 가능하게 만듦 issue : #40
  app/inobus/assets/test/organizations.json
  app/inobus/lib/api/json.dart
  app/inobus/lib/page/rank.dart
  app/inobus/pubspec.yaml
Due: app-pretty

구현: 랭크페이지 json 파일 기반 보여주기 - assets/test/organizations.json 파일을 테스트로 불러와 랭크르리 보여준다 - Expanded와 Listview를 이용하여 한번에 보이지 않는 부분은 일부 스크롤 가능하게 만듦 issue : #40
  app/inobus/assets/test/organizations.json
  app/inobus/lib/api/json.dart
  app/inobus/lib/page/rank.dart
  app/inobus/pubspec.yaml
Due: app-pretty

추가: 기기 위치 테스트용 파일 추가 - json 파일로 쓰샘기기 위치 테스트용 으로 추가하기 issue : #45
  app/inobus/assets/test/location.json
  app/inobus/pubspec.yaml
Due: none

구현 : json파일 읽어서 지도에 기기 위치 표시 - 테스용 json파일 읽어서 지도에 maker로 표시하기 issue: #45
  app/inobus/lib/page/map.dart
Due: app-pretty

구현: Rank Page 구현 (#51)
  app/inobus/assets/test/organizations.json
  app/inobus/lib/api/json.dart
  app/inobus/lib/page/rank.dart
  app/inobus/pubspec.yaml
Due: app-pretty

수정: 스크립트에 맞는 Line ending 고정
  .gitattributes
  backend/docs.html
Due: none

구현: 모든 쓰샘 기기의 리스트 조회 #62
  backend/routes/devices.py
Due: backend-lint, backend-isort

Set theme jekyll-theme-time-machine
  _config.yml
Due: none

Set theme jekyll-theme-minimal
  docs/_config.yml
  docs/index.md
Due: none

Set theme jekyll-theme-minimal
  _config.yml
Due: none

수정: github page update 가 되도록 index.md 문서를 삭제
  index.md
Due: none

구현: 두번째 실험 데이터, 노트북 구현
  deep_learning/inobus_pet_v2/__init__.py
  deep_learning/inobus_pet_v2/inobus_pet_v2.py
  deep_learning/inobus_pet_v2_classification.ipynb
  deep_learning/inobus_pet_v2_classification_imagenet.ipynb
Due: none

리팩터: Docker 관련 파일 추가 및 공통부분 추출
  backend/common.yaml
  backend/docker-compose.dev.yaml
  backend/docker-compose.prod.yaml
  backend/docker/Dockerfile.api
  backend/envs/.env.api.local
Due: none

수정: README.md 정렬
  README.md
Due: none

구현 : 4위 이하 랭크 스크롤로 여러개 보이게 만들기 - Expanded : 남는 구간에 맞는 크기 지정 - ListView : text를 스크롤로 보이게
  app/inobus/assets/test/organizations.json
  app/inobus/lib/page/rank.dart
Due: app-pretty

추가 : 앱 상단 바에 회사 이미지 로고 추가 - 하단 네비게이션 바 카메라 아이콘 QR 아이콘으로 변경 - 아이콘 아래 설명을 영어에서 한글로 변경
  app/inobus/lib/frame/home.dart
Due: app-pretty

구현: overscroll시 발생하는 색상 대표 색상으로 변겅 - main.dart에 임의 대표 색상 (0xffF04C18) 적용 - 1,2,3 위 글자 bold 설정
  app/inobus/lib/main.dart
  app/inobus/lib/page/rank.dart
Due: app-pretty

포맷 : 주석 수정 - Theme Data 는 전체 테마에 대한 결정
  app/inobus/lib/main.dart
Due: app-pretty

추가 : 소개 페이지 배경 이미지 추가 - 기존에 넣은 이미지 삭제
  app/inobus/assets/introduce/introduce.PNG
  app/inobus/assets/introduce/introduce1.PNG
  app/inobus/assets/introduce/introduce2.PNG
  app/inobus/assets/introduce/introduce2_1.jpg
  app/inobus/assets/introduce/introduce2_2.jpg
  app/inobus/assets/introduce/introduce2_3.jpg
  app/inobus/assets/introduce/introduce2_4.jpg
  app/inobus/assets/introduce/introduce2_5.jpg
  app/inobus/pubspec.yaml
Due: none

구현 : PNG 파일을 이요한 소개 페이지 배경 작성 - 동그라미 위치가 지금은 절대값
  app/inobus/lib/frame/introduce.dart
  app/inobus/lib/main.dart
Due: app-pretty

포맷 : 불필요한 주석 삭제
  app/inobus/lib/frame/introduce.dart
Due: app-pretty

추가: MQTT Broker로 RabbitMQ 서비스 추가
  backend/common.yaml
  backend/docker-compose.dev.yaml
  backend/docker-compose.prod.yaml
  backend/docker/Dockerfile.rabbitmq
  backend/envs/.env.api.local
  backend/rabbitmq.conf
Due: none
