Repository kookmin-sw/capstone-2021-3: changes, and which lefthook commands are due for each by the changed paths.
All: app-pretty, backend-lint, backend-isort

lefthook.yml:

pre-push:
  parallel: true
  commands:
    # 테스트 사용 시 주석 해제
    # app-tests:
    #   glob: '*.dart'
    #   run: flutter test
    app-linter:
      glob: "*.dart"
      run: flutter analyze

pre-commit:
  commands:
    app-pretty:
      root: "app/"
      glob: "*.dart"
      run: flutter format {staged_files} && git add {staged_files}
    backend-lint:
      black:
      tags: backend
      root: "backend/"
      glob: "*.py"
      run: black {staged_files}
    backend-isort:
      tags: backend
      root: "backend/"
      glob: "*.py"
      run: isort {staged_files}
  scripts:
    "export_docs.py":
      tags: backend
      runner: python

포맷: isort, black 적용
  iot/mqtt_setting.py
Due: none

구현: v6 데이터 Augmentaiton, 툴 구현
  deep_learning/dataset/inobus_pet_v6/__init__.py
  deep_learning/dataset/inobus_pet_v6/inobus_pet_v6.py
  deep_learning/tools/augmentators/pixel_operator.py
  deep_learning/tools/data_augmentation.py
Due: none

구현: 웹 컵 등록부 MQTT전환 및 프론트 수정
  backend/docs.html
  iot/routes/home.py
  iot/templates/home.html
Due: none

수정: 테스트 코드 삭제
  backend/docs.html
  iot/routes/home.py
Due: none

구현: 컵투입시 MQTT-웹 간 웹소켓으로 통신 구현
  backend/docs.html
  iot/config.py
  iot/mqtt_setting.py
  iot/routes/home.py
Due: none

구현: 같은그룹의 다른 기기에서 포인트 갱신 기능 구현
  backend/docs.html
  iot/templates/home.html
Due: none

구현 : UI 수정
  app/inobus/lib/pages/barcode_page.dart
  app/inobus/lib/pages/introduction/1_login_page.dart
  app/inobus/lib/pages/introduction/2_after_login_page.dart
  app/inobus/lib/pages/map_page.dart
  app/inobus/lib/pages/market_page.dart
  app/inobus/lib/pages/pages.dart
  app/inobus/lib/pages/point_page.dart
  app/inobus/lib/routes.dart
  app/inobus/lib/widgets/app_drawer.dart
Due: app-pretty

구현: Websocket으로 point 데이터 연동
  backend/main_consumer.py
  iot/mqtt_setting.py
Due: backend-lint, backend-isort

버그: docker-compose service 이름 수정
  backend/docker-compose.dev.yaml
Due: none

구현 : 애플로그인
  app/inobus/lib/models/auth_service.dart
  app/inobus/pubspec.yaml
Due: app-pretty

버그: try catch 문 추가로 소켓이 init 안 됐을때 에러 방지
  iot/mqtt_setting.py
Due: none

수정 : 박스 크기 수정
  app/inobus/lib/pages/point_page.dart
Due: app-pretty

Update README.md
  app/README.md
Due: none

구현: spalsh 추가
  app/inobus/android/app/src/main/res/drawable-hdpi/splash.png
  app/inobus/android/app/src/main/res/drawable-mdpi/splash.png
  app/inobus/android/app/src/main/res/drawable-v21/background.png
  app/inobus/android/app/src/main/res/drawable-v21/launch_background.xml
  app/inobus/android/app/src/main/res/drawable-xhdpi/splash.png
  app/inobus/android/app/src/main/res/drawable-xxhdpi/splash.png
  app/inobus/android/app/src/main/res/drawable-xxxhdpi/splash.png
  app/inobus/android/app/src/main/res/drawable/background.png
  app/inobus/android/app/src/main/res/drawable/launch_background.xml
  app/inobus/android/app/src/main/res/values-night/styles.xml
  app/inobus/android/app/src/main/res/values/styles.xml
  app/inobus/assets/splash.png
  app/inobus/ios/Runner/Assets.xcassets/LaunchBackground.imageset/Contents.json
  app/inobus/ios/Runner/Assets.xcassets/LaunchBackground.imageset/background.png
  app/inobus/ios/Runner/Assets.xcassets/LaunchImage.imageset/LaunchImage.png
  app/inobus/ios/Runner/Assets.xcassets/LaunchImage.imageset/LaunchImage@2x.png
  app/inobus/ios/Runner/Base.lproj/LaunchScreen.storyboard
  app/inobus/ios/Runner/Info.plist
  app/inobus/pubspec.lock
  app/inobus/pubspec.yaml
  iot/.env.example
  iot/MVP_Test4.py
  iot/README.md
  iot/install.sh
  iot/mqtt_client.service
  iot/routes/home.py
  iot/scripts/kiosk.sh
Due: none

Update README.md
  README.md
Due: none

구현: IOT 시작 시 새로운 organization 정보를 갱신하도록 함
  backend/routes/organizations.py
  iot/mqtt_setting.py
Due: backend-lint, backend-isort

수정 : 에러 수정 - 사용자 월별 포인트 값 반대로 인것 수정 - 글자 수정 - 버튼 크기 수정
  app/inobus/lib/pages/barcode_page.dart
  app/inobus/lib/pages/information/use_lottery.dart
  app/inobus/lib/pages/user_history_page.dart
Due: app-pretty

구현 : 애플 로그인 - 작동 여부는 확인할 수 없음
  app/inobus/android/app/build.gradle
  app/inobus/lib/models/auth_service.dart
  app/inobus/lib/pages/introduction/1_login_page.dart
  app/inobus/lib/pages/setting_page.dart
Due: app-pretty

수정 : 버전 문제 해결
  app/inobus/lib/models/auth_service.dart
  app/inobus/lib/pages/introduction/1_login_page.dart
  app/inobus/pubspec.lock
  app/inobus/pubspec.yaml
Due: app-pretty

구현: queue 설정 업데이트
  backend/main_consumer.py
  iot/mqtt_setting.py
Due: backend-lint, backend-isort

구현: Websocket manager로 웹 소켓 관리
  iot/config.py
  iot/mqtt_setting.py
  iot/routes/home.py
  iot/websocket_client.py
  iot/websocket_manager.py
Due: none

Create README.md
  deep_learning/README.md
Due: none
