Repository kookmin-sw/capstone-2021-3: changes, and which lefthook commands are due for each by the changed paths.
All: app-pretty, backend-lint, backend-isort

lefthook.yml:

pre-push:
  parallel: true
  commands:
    # 테스트 사용 시 주석 해제
    # app-tests:
    #   glob: '*.dart'
    #   run: flutter test
    app-linter:
      glob: "*.dart"
      run: flutter analyze

pre-commit:
  commands:
    app-pretty:
      root: "app/"
      glob: "*.dart"
      run: flutter format {staged_files} && git add {staged_files}
    backend-lint:
      black:
      tags: backend
      root: "backend/"
      glob: "*.py"
      run: black {staged_files}
    backend-isort:
      tags: backend
      root: "backend/"
      glob: "*.py"
      run: isort {staged_files}
  scripts:
    "export_docs.py":
      tags: backend
      runner: python

feat: date 필드 예제에 formatting 한 현재 시간을 넣도록 수정
  backend/docs.html
  backend/models/data.py
  backend/models/device.py
  backend/utils/__init__.py
  backend/utils/datetime.py
Due: backend-lint, backend-isort

fix: UserOut, UserIn 모델의 point 필드 수정, 주석 추가
  backend/docs.html
  backend/models/user.py
Due: backend-lint, backend-isort

fix: device_nearby_list에 위도, 경도를 parameter로 추가
  backend/docs.html
  backend/routes/devices.py
Due: backend-lint, backend-isort

refactor: 루트 req.txt deep_learning 폴더 로 이동
  README.md
  deep_learning/requirements.txt
Due: none

style: 오타 수정 및 docstring 포맷 수정
  backend/docs.html
  backend/models/data.py
  backend/models/device.py
  backend/models/organization.py
  backend/models/team.py
  backend/models/user.py
  backend/routes/devices.py
Due: backend-lint, backend-isort

change ci.yml
  .github/workflows/app-ci.yml
Due: none

Add: deep_learning 환경설정 예제 추가
  README.md
Due: none

add: 이노버스 데이터v1 tf.dataset 추가
  deep_learning/inobus_pet_v1/__init__.py
  deep_learning/inobus_pet_v1/data_example.ipynb
  deep_learning/inobus_pet_v1/inobus_pet_v1.py
Due: none

Setting application frame
  app/inobus/lib/frame/home.dart
  app/inobus/lib/main.dart
  app/inobus/lib/page/map.dart
  app/inobus/lib/page/menu.dart
  app/inobus/lib/page/qr.dart
  app/inobus/lib/page/rank.dart
Due: app-pretty

make pssible page moving by swiping
  app/inobus/lib/frame/home.dart
Due: app-pretty

impl: image_resize_viewer 구현. 사이즈 줄인 이미지 보고싶을때 사용.
  deep_learning/tools/image_resize_viewer.py
Due: none

feat: image_resizer구현. 폴더 주면 이미지들 리사이즈해서 저장.
  deep_learning/tools/image_resizer.py
Due: none

Fix exmaple typo in image_resize_viewer
  deep_learning/tools/image_resize_viewer.py
Due: none

fix: 메모리 안세게 context manager로 image open
  deep_learning/tools/image_resize_viewer.py
Due: none

doc: README에 데이터 다운로드 해야한다는것 추가
  README.md
Due: none

이노버스 데이터 사이즈 변경
  deep_learning/inobus_pet_v1/inobus_pet_v1.py
Due: none

Setting Google_map
  app/inobus/android/app/src/main/AndroidManifest.xml
  app/inobus/ios/Runner/AppDelegate.swift
  app/inobus/ios/Runner/Info.plist
  app/inobus/lib/page/loading.dart
  app/inobus/lib/page/map.dart
  app/inobus/pubspec.lock
  app/inobus/pubspec.yaml
Due: app-pretty

Manage gestures priority (GoogleMap, PageView)
  app/inobus/lib/page/map.dart
Due: app-pretty

Loading screen : location authority permission
  app/inobus/lib/page/map.dart
Due: app-pretty

inobus_pet_v1 노트북 구현
  deep_learning/inobus_pet_v1_classification (1).ipynb
Due: none

Make Rank Page Frame
  app/inobus/lib/page/rank.dart
Due: app-pretty

Make QR Code Scanner
  app/inobus/android/app/src/main/AndroidManifest.xml
  app/inobus/ios/Runner/Info.plist
  app/inobus/lib/page/qr.dart
  app/inobus/pubspec.lock
  app/inobus/pubspec.yaml
Due: app-pretty

Add commentsc
  app/inobus/lib/page/rank.dart
Due: app-pretty

Change minSdkVersion 16->21
  app/inobus/android/app/build.gradle
Due: none

resolve feedback
  app/inobus/lib/frame/home.dart
  app/inobus/lib/page/map.dart
Due: app-pretty

fix: Pillow 보안문제때문에 버전 업그레이드
  deep_learning/requirements.txt
Due: none

버그: backend lint, isort check 옵션 추가
  backend/docs.html
  lefthook.yml
Due: none

버그: export_docs.py print문 제거
  .lefthook/pre-commit/export_docs.py
  backend/docs.html
Due: none

리팩터 : 조건문 변경 조건문 setState안에 한번에 구현 issue (none)
  app/inobus/lib/page/qr.dart
Due: app-pretty

문서: Application 개발 문서 작성
  app/README.md
  app/inobus/README.md
Due: none

문서: Backend 개발 문서 업데이트
  backend/README.md
Due: none

문서: 프로젝트 문서 업데이트
  README.md
Due: none

리팩터: 이노버스 노트북 이름변경
  deep_learning/inobus_pet_v1_classification.ipynb
Due: none

문서: 프로젝트 문서 리뷰 반영
  README.md
Due: none

구현: API router prefix로 /api/v1
  backend/main.py
Due: backend-lint, backend-isort

리팩터,추가: 개발용, 배포용 requirements 분리
  backend/requirements/deployment.txt
  backend/requirements/development.txt
Due: none

추가: Dockerfile, .dockerignore, gunicorn_conf.py 추가
  backend/.dockerignore
  backend/docker/Dockerfile
  backend/gunicorn_conf.py
Due: backend-lint, backend-isort

추가: Docker 이미지 배포 github actions yml 파일
  .github/workflows/publish-backend-image.yml
Due: none

문서: Backend 문서에 배포관련 내용 추가
  backend/README.md
Due: none
