Repository kookmin-sw/capstone-2021-3: changes, and which lefthook commands are due for each by the changed paths.
All: app-pretty, backend-lint, backend-isort

lefthook.yml:

pre-push:
  parallel: true
  commands:
    # 테스트 사용 시 주석 해제
    # app-tests:
    #   glob: '*.dart'
    #   run: flutter test
    app-linter:
      glob: "*.dart"
      run: flutter analyze

pre-commit:
  commands:
    app-pretty:
      root: "app/"
      glob: "*.dart"
      run: flutter format {staged_files} && git add {staged_files}
    backend-lint:
      black:
      tags: backend
      root: "backend/"
      glob: "*.py"
      run: black {staged_files}
    backend-isort:
      tags: backend
      root: "backend/"
      glob: "*.py"
      run: isort {staged_files}
  scripts:
    "export_docs.py":
      tags: backend
      runner: python

추가: Logger 유틸
  backend/utils/logger.py
Due: backend-lint, backend-isort

버그: 환경변수 파일 따옴표 문제 및 .env파일 경로 문제 해결
  .lefthook/pre-commit/export_docs.py
  backend/.dockerignore
  backend/.env.example
  backend/config.py
  backend/database.py
  backend/docker-compose.dev.yaml
  backend/docker-compose.prod.yaml
  backend/envs/.env.api.local
  backend/utils/get_dot_env.py
Due: backend-lint, backend-isort

포맷: 포맷터 적용, 파이썬 포맷터 black으로 지정, 안 쓰는 import문 제거
  backend/.vscode/settings.json
  backend/common.yaml
  backend/main.py
  backend/routes/devices.py
  backend/routes/organizations.py
  backend/utils/distance.py
Due: backend-lint, backend-isort

문서: 백엔드 문서 간략화
  backend/README.md
  backend/docs.html
Due: none

수정 : 함수명 변경 - apple sign in을 고려하여 함수명 변경 Issue #100
  app/inobus/lib/page/login.dart
Due: app-pretty

리팩터: deep_learning 데이터셋, 노 트북 폴더 만들어서 옮김, Recycle 데이터셋 삭제
  deep_learning/dataset/inobus_pet_v1/__init__.py
  deep_learning/dataset/inobus_pet_v1/data_example.ipynb
  deep_learning/dataset/inobus_pet_v1/inobus_pet_v1.py
  deep_learning/dataset/inobus_pet_v2/__init__.py
  deep_learning/dataset/inobus_pet_v2/inobus_pet_v2.py
  deep_learning/dataset/inobus_pet_v3/__init__.py
  deep_learning/dataset/inobus_pet_v3/inobus_pet_v3.py
  deep_learning/notebooks/inobus_pet_v1_classification.ipynb
  deep_learning/notebooks/inobus_pet_v2_classification.ipynb
  deep_learning/notebooks/inobus_pet_v2_classification_imagenet.ipynb
  deep_learning/notebooks/inobus_pet_v3_classification.ipynb
  deep_learning/notebooks/inobus_pet_v3_classification_imagenet.ipynb
  deep_learning/recycle_dataset/__init__.py
  deep_learning/recycle_dataset/checksums.tsv
  deep_learning/recycle_dataset/data_example.ipynb
  deep_learning/recycle_dataset/dummy_data/recycle_dataset/test/can/IMG_8853.jpeg
  deep_learning/recycle_dataset/dummy_data/recycle_dataset/test/carton/IMG_8897.jpeg
  deep_learning/recycle_dataset/dummy_data/recycle_dataset/test/glass/IMG_8858.jpeg
  deep_learning/recycle_dataset/dummy_data/recycle_dataset/test/paper/IMG_8847.jpeg
  deep_learning/recycle_dataset/dummy_data/recycle_dataset/test/pet/IMG_8865.jpeg
  deep_learning/recycle_dataset/dummy_data/recycle_dataset/test/plastic/IMG_8835.jpeg
  deep_learning/recycle_dataset/dummy_data/recycle_dataset/test/styrofoam/IMG_8855.jpeg
  deep_learning/recycle_dataset/dummy_data/recycle_dataset/test/vinyl/IMG_8862.jpeg
  deep_learning/recycle_dataset/dummy_data/recycle_dataset/train/can/IMG_8852.jpg
  deep_learning/recycle_dataset/dummy_data/recycle_dataset/train/carton/IMG_8861.jpeg
  deep_learning/recycle_dataset/dummy_data/recycle_dataset/train/glass/IMG_8857.jpeg
  deep_learning/recycle_dataset/dummy_data/recycle_dataset/train/paper/IMG_8856.jpeg
  deep_learning/recycle_dataset/dummy_data/recycle_dataset/train/pet/IMG_8864.jpeg
  deep_learning/recycle_dataset/dummy_data/recycle_dataset/train/plastic/IMG_8850.jpeg
  deep_learning/recycle_dataset/dummy_data/recycle_dataset/train/styrofoam/IMG_8854.jpeg
  deep_learning/recycle_dataset/dummy_data/recycle_dataset/train/vinyl/IMG_8829.jpeg
  deep_learning/recycle_dataset/recycle_dataset.py
  deep_learning/recycle_dataset/recycle_dataset_test.py
Due: none

수정 : 변수면 변경 - 소개페이지 bool 변수명 변경
  app/inobus/lib/main.dart
Due: app-pretty

구현 : login완료시 마이페이지로 변화하기 - logout 미 완료 Issue #100
  app/inobus/lib/page/login.dart
  app/inobus/lib/page/menu.dart
Due: app-pretty

구현 : 로그인 상태 유지 - 메뉴 페이지 한정 구글 로그인 상태유지 Issue #100
  app/inobus/lib/page/login.dart
  app/inobus/lib/page/menu.dart
Due: app-pretty

구현 : 로그인 함수 변경 - 로그인 함수 직관적으로 변경 Issue #100
  app/inobus/lib/page/login.dart
  app/inobus/lib/page/menu.dart
Due: app-pretty

구현 : 로그인 정보 homePage로 이동 - 홈페이지 에서 로그인 여부 및 사용자 정보 저장 Issue #100
  app/inobus/lib/frame/home.dart
  app/inobus/lib/page/login.dart
  app/inobus/lib/page/menu.dart
Due: app-pretty

추가 : http 라이브러리 추가 Issue #107
  app/inobus/pubspec.lock
  app/inobus/pubspec.yaml
Due: none

구현: 라즈베리파이 tflite mobilenet inference 구현
  deep_learning/pi/install.sh
  deep_learning/pi/run_inference.py
Due: none

버그: 누락된 환경변수 명시
  backend/docker-compose.prod.yaml
Due: none

구현 : http 요청 세팅 - 안드로이드 일정 버전 이상의 경우 http의 접근이 막혀있다. 이를 허용함 Issue #107
  app/inobus/android/app/src/main/AndroidManifest.xml
  app/inobus/pubspec.lock
  app/inobus/pubspec.yaml
Due: none

구현 : API orgainzation 연결 - 한글깨짐 문제 해결 Issue #107
  app/inobus/lib/api/json.dart
Due: app-pretty

구현 : rank가 3개 이하인 경우 UI 재구성 - error가 나지 않게 만 변경
  app/inobus/lib/page/rank.dart
Due: app-pretty

수정 : 상위 3개 icon 위치 수정
  app/inobus/lib/page/rank.dart
Due: app-pretty

구현 : 지도 값 불러오기 스캘래톤 코드 - json.dart로 API 연결 함수 몰아 넣기 Issue #107
  app/inobus/lib/api/json.dart
  app/inobus/lib/page/map.dart
Due: app-pretty

수정 : 불필요한 print문 삭제
  app/inobus/lib/api/json.dart
Due: app-pretty

수정 : 에러 코드 수정
  app/inobus/lib/api/json.dart
Due: app-pretty

구현 : 지도 아이콘 클릭시 정보 보이게 - infoWindow 추가 Issue #107
  app/inobus/lib/api/json.dart
Due: app-pretty

수정 : 불필요한 라이브러리 import 삭제
  app/inobus/lib/page/map.dart
Due: app-pretty

버그: 중첩모델, 날짜포맷 수정, 포인트 타입, id 필드 이름 수정
  backend/models/data.py
  backend/models/device.py
  backend/models/organization.py
  backend/models/user.py
  backend/utils/datetime.py
Due: backend-lint, backend-isort

구현 : firebase 연결 - 기존 google-services 프로젝트 삭제 - firebase에 user 정보 전달 Issue # 100
  app/inobus/lib/main.dart
  app/inobus/lib/page/login.dart
  app/inobus/pubspec.lock
  app/inobus/pubspec.yaml
Due: app-pretty

구현 : 바코드 구현 - barcode_widget을 이용하여 바코드 생성 확인 Issue #75
  app/inobus/lib/page/qr.dart
  app/inobus/pubspec.lock
  app/inobus/pubspec.yaml
Due: app-pretty

수정 : 존재하지 않는 파일 assets에서 삭제
  app/inobus/pubspec.yaml
Due: none

추가: 이노버스 아이콘 리소스 추가
  app/inobus/assets/icons/arrow.png
  app/inobus/assets/icons/bell.png
  app/inobus/assets/icons/block.png
  app/inobus/assets/icons/cart.png
  app/inobus/assets/icons/checkbox.png
  app/inobus/assets/icons/document.png
  app/inobus/assets/icons/gear.png
  app/inobus/assets/icons/graph.png
  app/inobus/assets/icons/headset.png
  app/inobus/assets/icons/home.png
  app/inobus/assets/icons/menu.png
  app/inobus/assets/icons/money.png
  app/inobus/assets/icons/pin.png
  app/inobus/assets/icons/play.png
  app/inobus/assets/icons/speech_bubble.png
Due: none

추가: 이노버스 이미지 리소스 추가
  app/inobus/assets/images/drawer_seed.png
Due: none

구현: 글로벌 디자인 설정
  app/inobus/lib/app_colors.dart
  app/inobus/lib/app_icons.dart
  app/inobus/lib/app_images.dart
  app/inobus/lib/app_theme.dart
Due: app-pretty

구현: 새로운 디자인 적용 - makepage에 몰아 넣어서 만듦 Isseu #115
  app/inobus/assets/image/hero_img.PNG
  app/inobus/assets/logo/apple_logo_icon.png
  app/inobus/assets/logo/google_logo_icon.png
  app/inobus/lib/api/json.dart
  app/inobus/lib/main.dart
  app/inobus/lib/makepage/afterLogin.dart
  app/inobus/lib/makepage/loginPage.dart
  app/inobus/lib/makepage/loginbutton.dart
  app/inobus/lib/makepage/mainMap.dart
  app/inobus/lib/makepage/makebarcode.dart
  app/inobus/pubspec.lock
  app/inobus/pubspec.yaml
Due: app-pretty

추가: 애니메이션 패키지 추가
  app/inobus/pubspec.lock
  app/inobus/pubspec.yaml
Due: none

구현: 애플리케이션 베이스 위젯
  app/inobus/lib/widgets/app_appbar.dart
  app/inobus/lib/widgets/app_drawer.dart
  app/inobus/lib/widgets/app_scaffold.dart
Due: app-pretty

구현: 라우트 시스템 적용
  app/inobus/lib/main.dart
  app/inobus/lib/models/route_argument.dart
  app/inobus/lib/routes.dart
Due: app-pretty

구현: 기본 페이지들 생성
  app/inobus/lib/pages/intro_page.dart
  app/inobus/lib/pages/map_page.dart
  app/inobus/lib/pages/pages.dart
  app/inobus/lib/pages/point_page.dart
  app/inobus/lib/pages/setting_page.dart
Due: app-pretty

리팩터: 이미지 리소스 정리
  app/inobus/assets/images/apple_loggo.png
  app/inobus/assets/images/google_loggo.png
  app/inobus/assets/images/hero.png
  app/inobus/lib/app_images.dart
  app/inobus/pubspec.yaml
Due: app-pretty

구현: 버튼 클릭시 drawer 닫기, Scaffold에 정렬 속성 추가
  app/inobus/lib/widgets/app_drawer.dart
  app/inobus/lib/widgets/app_scaffold.dart
Due: app-pretty

구현: Google map 페이지 생성
  app/inobus/lib/pages/map_page.dart
Due: app-pretty

구현: Introduction 페이지 구현
  app/inobus/lib/makepage/mainMap.dart
  app/inobus/lib/pages/intro_page.dart
  app/inobus/lib/pages/introduction/1_login_page.dart
  app/inobus/lib/pages/introduction/2_after_login_page.dart
  app/inobus/lib/pages/introduction/3_make_barcode_page.dart
  app/inobus/lib/pages/introduction_page.dart
  app/inobus/lib/widgets/login_button.dart
Due: app-pretty
