Repository kookmin-sw/capstone-2021-3: changes, and which lefthook commands are due for each by the changed paths.
All: app-pretty, backend-lint, backend-isort

app-pretty:
  run: flutter format {staged_files} && git add {staged_files}

backend-lint:
  black: null
  tags: backend
  run: black {staged_files}

backend-isort:
  tags: backend
  run: isort {staged_files}

구현: admin ui padding 추가 및 업데이트된 config와 logger 적용
  backend/docs.html
  iot/requirements.txt
  iot/routes/admin.py
  iot/templates/base.html
  iot/templates/dashboard.html
  iot/templates/settings.html
Due: none

문서: 라즈베리파이 클라이언트 설치하는 방법 추가 정리
  backend/docs.html
  iot/README.md
Due: none

수정: 규칙 적용
  backend/routes/users.py
Due: backend-lint, backend-isort

포맷 : fomat, analyze
  app/inobus/lib/pages/pages.dart
  app/inobus/pubspec.lock
Due: app-pretty

구현 : 각 페이지 Expanded 적용 - device_input.png 파일 크기 줄이기 - app_scaffold.dart Expanded 및 SafeArea 적용
  app/inobus/assets/images/device_input.png
  app/inobus/lib/models/auth_service.dart
  app/inobus/lib/widgets/app_scaffold.dart
Due: app-pretty

구현: 추첨권 발행, 보안 관련 이슈 수정
  backend/models/data.py
  backend/routes/rewards.py
Due: backend-lint, backend-isort

구현: 사용자의 현월의 추첨권 정보 API 구현
  backend/models/user.py
  backend/routes/users.py
Due: backend-lint, backend-isort

구현 : 이미지 사이즈 조정 Issue #124
  app/inobus/lib/pages/information_page.dart
Due: app-pretty

구현 : 추첨권-포인트 페이지 디자인 구현 - 디자인 위치 및 크기만 구현 Issue #145
  app/inobus/lib/pages/point_page.dart
Due: app-pretty

구현 : 사용자의 포인트 내역 차트로 그리기 - 임의 User.dart를 생성 - 임의 값들로 Chart 구성 Issue #122
  app/inobus/lib/api/device.dart
  app/inobus/lib/api/orgainzation.dart
  app/inobus/lib/api/user.dart
  app/inobus/lib/api/user.g.dart
  app/inobus/lib/models/auth_service.dart
  app/inobus/lib/pages/use_history_page.dart
  app/inobus/pubspec.yaml
Due: app-pretty

구현 : 사용자 누적 포인트 값 가져오기 Isseu #145
  app/inobus/lib/models/auth_service.dart
  app/inobus/lib/pages/point_page.dart
Due: app-pretty

수정 : dart 파일명 수정
  app/inobus/lib/pages/pages.dart
  app/inobus/lib/pages/user_history_page.dart
  app/inobus/lib/routes.dart
Due: app-pretty

구현 : 사용자 history 정보 가져오기 Issue #122
  app/inobus/lib/api/user.dart
  app/inobus/lib/pages/user_history_page.dart
Due: app-pretty

구현 : 이용 내역에 사용자 정보 포함 - 사용자 정보 포함 - 월별 포인트 적립 - 전체 기관별 순위 Issue #122
  app/inobus/lib/api/device.dart
  app/inobus/lib/api/orgainzation.dart
  app/inobus/lib/api/user.dart
  app/inobus/lib/pages/map_page.dart
  app/inobus/lib/pages/user_history_page.dart
Due: app-pretty

수정: image_resizer 가로 세로 다르게 줄수있게 수정.
  deep_learning/tools/image_resizer.py
Due: none

구현: inobus_v3 데이터 616 사이즈.
  deep_learning/dataset/inobus_pet_v3_616/__init__.py
  deep_learning/dataset/inobus_pet_v3_616/inobus_pet_v3_616.py
Due: none

구현: v4 데이터 (실제 하드웨어에서 찍은거) 구현
  deep_learning/dataset/inobus_pet_v4/__init__.py
  deep_learning/dataset/inobus_pet_v4/inobus_pet_v4.py
Due: none

구현: v4 데이터에서 기존에 스마트폰으로 찍은 이미지 추가한 v5 구현
  deep_learning/dataset/inobus_pet_v5/__init__.py
  deep_learning/dataset/inobus_pet_v5/inobus_pet_v5.py
Due: none

수정: 라즈베리파이 inference 속도 재는데 평균속도 추가.
  deep_learning/pi/run_inference.py
Due: none

구현: 하드웨어에서 찍은 데이터로 실험한 v4 노트북 구현.
  deep_learning/notebooks/inobus_v4.ipynb
Due: none

구현: v4 데이터에 스마트폰 이미지 추가한 데이터 노트북 구현
  deep_learning/notebooks/inobus_v5.ipynb
Due: none

opencv requirement 추가
  deep_learning/requirements.txt
Due: none

구현 : 추첨권 및 포인트 구현 - user 정보 임의로 설정하여 구현 Issue #145
  app/inobus/lib/pages/point_page.dart
Due: app-pretty

구현 : 이용내역 사용자 이미지 동그라미로 만들기 Issue #122
  app/inobus/lib/pages/user_history_page.dart
Due: app-pretty

구현 : appBar 문제 해결
  app/inobus/lib/widgets/app_appbar.dart
Due: app-pretty

구현 : AppBar 밑줄 문제 해결
  app/inobus/lib/widgets/app_scaffold.dart
Due: app-pretty

구현: 파이 베이스 코드
  deep_learning/pi/main.py
Due: none

시연 준비 커밋
  deep_learning/pi/main.py
Due: none

구현: HTTP Redirection 미들웨어 추가 및 환경 변수 등록
  backend/.env.example
  backend/config.py
  backend/main.py
Due: backend-lint, backend-isort

구현: Docker 이미지의 위치를 ECR로 변경
  backend/common.yaml
Due: none

구현: AWS CloudFormation 리소스 명시 및 health check 추가
  backend/docker-compose.prod.yaml
  backend/main.py
Due: backend-lint, backend-isort

추가 : 이노버스 제공 이미지 추가 - 핸드폰 이미지, 기기 이미지 추가 - 각 이미지 추가하여 구현
  app/inobus/assets/images/device.png
  app/inobus/assets/images/phone_barcode.png
  app/inobus/assets/images/phone_image.PNG
  app/inobus/assets/images/phone_point.png
  app/inobus/lib/app_images.dart
  app/inobus/lib/pages/barcode_page.dart
  app/inobus/lib/pages/information/use_barcode.dart
  app/inobus/lib/pages/information_page.dart
Due: app-pretty

구현 : api url 가져오기 class로 구현
  app/inobus/lib/api/api.dart
Due: app-pretty

구현 : Json 이용하여 불러오기
  app/inobus/lib/api/device.dart
  app/inobus/lib/api/device.g.dart
  app/inobus/lib/api/orgainzation.dart
  app/inobus/lib/api/orgainzation.g.dart
  app/inobus/lib/api/user.dart
  app/inobus/lib/models/auth_service.dart
Due: app-pretty

구현 : 추첨권 페이지 user 정보로 동기화
  app/inobus/lib/pages/point_page.dart
Due: app-pretty

수정 : 에코마켓, 공지사항 삭제
  app/inobus/lib/widgets/app_drawer.dart
Due: app-pretty

구현 : 뒤로가기와 홈버튼 기능 정상화
  app/inobus/lib/widgets/app_appbar.dart
Due: app-pretty

Path conditions:
  app-pretty: any of: *.dart and ^app/
  backend-lint: any of: *.py and ^backend/
  backend-isort: any of: *.py and ^backend/
