Repository kookmin-sw/capstone-2021-3: changes, and which lefthook commands are due for each by the changed paths.
All: app-pretty, backend-lint, backend-isort

app-pretty:
  run: flutter format {staged_files} && git add {staged_files}

backend-lint:
  black: null
  tags: backend
  run: black {staged_files}

backend-isort:
  tags: backend
  run: isort {staged_files}

구현: Introduction과 Map 라우트 연결
  app/inobus/lib/main.dart
  app/inobus/lib/pages/pages.dart
  app/inobus/lib/routes.dart
Due: app-pretty

리팩터: 이미지 이름 오타 수정
  app/inobus/assets/images/apple_logo.png
  app/inobus/assets/images/google_logo.png
  app/inobus/lib/app_images.dart
  app/inobus/lib/pages/introduction/1_login_page.dart
Due: app-pretty

버그: master 수정 내역 반영
  backend/.env.example
  backend/config.py
  backend/docker-compose.prod.yaml
  backend/routes/mqtt.py
Due: backend-lint, backend-isort

버그: 개발용 웹 접속 불가
  backend/.env.example
  backend/README.md
  backend/docker-compose.dev.yaml
  backend/main.py
Due: backend-lint, backend-isort

구현: MQTT 요청 로그 수정
  backend/routes/mqtt.py
  backend/utils/logger.py
Due: backend-lint, backend-isort

구현: 기관의 디바이스 리스트를 가져오는 API
  backend/routes/organizations.py
Due: backend-lint, backend-isort

포맷: black, isort, 문서 생성 적용
  backend/config.py
  backend/docs.html
  backend/main.py
  backend/models/data.py
  backend/models/device.py
  backend/utils/datetime.py
  backend/utils/logger.py
Due: backend-lint, backend-isort

구현: IOT 클라이언, IOT 어드민 구현
  iot/.env.example
  iot/.gitignore
  iot/base.py
  iot/config.py
  iot/iot_utils/__init__.py
  iot/iot_utils/database.py
  iot/iot_utils/logger.py
  iot/iot_utils/publisher.py
  iot/main.py
  iot/mqtt_setting.py
  iot/requirements.txt
  iot/routes/__init__.py
  iot/routes/admin.py
  iot/static/css/bulma.min.css
  iot/static/css/style.css
  iot/static/css/style.css.map
  iot/static/font-awesome/all.min.css
  iot/static/font-awesome/all.min.js
  iot/static/js/jquery-3.6.0.min.js
  iot/static/js/script.js
  iot/static/scss/style.scss
  iot/static/webfonts/fa-brands-400.eot
  iot/static/webfonts/fa-brands-400.svg
  iot/static/webfonts/fa-brands-400.ttf
  iot/static/webfonts/fa-brands-400.woff
  iot/static/webfonts/fa-brands-400.woff2
  iot/static/webfonts/fa-regular-400.eot
  iot/static/webfonts/fa-regular-400.svg
  iot/static/webfonts/fa-regular-400.ttf
  iot/static/webfonts/fa-regular-400.woff
  iot/static/webfonts/fa-regular-400.woff2
  iot/static/webfonts/fa-solid-900.eot
  iot/static/webfonts/fa-solid-900.svg
  iot/static/webfonts/fa-solid-900.ttf
  iot/static/webfonts/fa-solid-900.woff
  iot/static/webfonts/fa-solid-900.woff2
  iot/templates/base.html
  iot/templates/dashboard.html
  iot/templates/partial/menu_item.html
  iot/templates/settings.html
Due: none

구현: 기기에서 수집하는 데이터 포맷 변경
  backend/models/data.py
Due: backend-lint, backend-isort

문서: IOT 문서 정리
  iot/README.md
Due: none

구현 : 구글 로그인 세팅 - google-services.json, GoogleService-Info.plist 의 경우 비워서 저장, 동작시 실제 firebase에서 다운 요망 - firebase_auth, firebase_core, google_sign_in 라이브러리 yaml 추가
  app/inobus/android/app/google-services.json
  app/inobus/android/build.gradle
  app/inobus/ios/Runner/GoogleService-Info.plist
  app/inobus/ios/Runner/Info.plist
  app/inobus/pubspec.lock
  app/inobus/pubspec.yaml
Due: none

추가 : 구글 로그인 라이브러리 세팅(2) - 삭제, 추가 : google-services.json 위치 수정 - build.gradle에 firebase 사용 코드 추가
  app/inobus/android/app/build.gradle
  app/inobus/android/app/google-services.json
  app/inobus/android/google-services.json
Due: none

구현 : Firebase 연결 기능 setting - Firebase의 정보 보내고 가져오기 위한 세팅 Issue #119
  app/inobus/android/app/build.gradle
  app/inobus/lib/main.dart
Due: app-pretty

구현 : 구글 로그인 함수 만들기 - Firbase에 구글이메일로 로그인 인증 Issue #119
  app/inobus/lib/login/google_login.dart
Due: app-pretty

구현 : 사용자 정보 UI에 적용하기 - 사용자의 프로필 이름을 가져와 사용자명 세팅 Issue #119
  app/inobus/lib/pages/introduction/1_login_page.dart
  app/inobus/lib/widgets/app_drawer.dart
Due: app-pretty

구현 : 사용자 정보 UI에 적용하기 - 사용자의 uid를 가져와 사용자 바코드 세팅 Issue #119
  app/inobus/lib/login/google_login.dart
  app/inobus/lib/pages/introduction/3_make_barcode_page.dart
Due: app-pretty

수정 : json, plist 파일 수정 - Firebase에서 다운받은 파일 주요 내용 삭제 해서 올리기
  app/inobus/android/google-services.json
  app/inobus/ios/Runner/GoogleService-Info.plist
Due: none

구현 : API와 연결 - 기관별 랭킹 - 기기의 전체 위치 - 아직 더미 데이터가 부족하여 test파일 내용 포함됨
  app/inobus/android/app/src/main/AndroidManifest.xml
  app/inobus/lib/api/json.dart
  app/inobus/lib/makepage/mainMap.dart
  app/inobus/lib/pages/map_page.dart
  app/inobus/pubspec.lock
Due: app-pretty

수정 : env 파일을 이용한 key 할당
  app/inobus/android/app/build.gradle
  app/inobus/android/app/src/main/AndroidManifest.xml
  app/inobus/android/google-services.json
  app/inobus/ios/Runner/AppDelegate.swift
  app/inobus/ios/Runner/GoogleService-Info.plist
  app/inobus/ios/Runner/Info.plist
Due: none

수정 : 페이지 이름 변경 - SettinigPage -> SettingPage
  app/inobus/lib/pages/setting_page.dart
  app/inobus/lib/routes.dart
Due: app-pretty

구현 : 이용 내역 페이지 기본틀 구현 Issue #122
  app/inobus/lib/pages/pages.dart
  app/inobus/lib/pages/use_history_page.dart
  app/inobus/lib/routes.dart
Due: app-pretty

구현 : 스크린 사이즈 조정 한번에
  app/inobus/lib/app_size.dart
  app/inobus/lib/pages/introduction/2_after_login_page.dart
Due: app-pretty

구현 : API의 기관의 전체 랭킹 보여주기 Issue #122
  app/inobus/lib/api/json.dart
  app/inobus/lib/page/rank.dart
  app/inobus/lib/pages/use_history_page.dart
Due: app-pretty

추가 : app-ci.yaml에 env에 필요한 변수 추가
  .github/workflows/app-ci.yml
Due: none

수정 : 더미 파일 삭제 - 기관 위치 및 기관 랭킹 관련 더미 파일 삭제
  app/inobus/assets/test/location.json
  app/inobus/assets/test/organizations.json
  app/inobus/lib/api/json.dart
  app/inobus/pubspec.yaml
Due: app-pretty

리팩터 : api 연결 함수 분리 - 기기 위치 및 정보 서버 연결하기 함수와 기관의 포인트 랭킹 조화 함수 파일 분리
  app/inobus/lib/api/device.dart
  app/inobus/lib/api/orgainzation.dart
Due: app-pretty

구현 : JsonSerializable 적용 - 기관이름, 포인트 class에 JsonSerializable 적용
  app/inobus/lib/api/orgainzation.g.dart
  app/inobus/pubspec.lock
  app/inobus/pubspec.yaml
Due: app-pretty

수정 : 더미 파일 삭제
  app/inobus/lib/frame/home.dart
  app/inobus/lib/makepage/mainMap.dart
  app/inobus/lib/page/loading.dart
  app/inobus/lib/page/login.dart
  app/inobus/lib/page/map.dart
  app/inobus/lib/page/menu.dart
  app/inobus/lib/page/qr.dart
  app/inobus/lib/page/rank.dart
  app/inobus/lib/page/version.dart
Due: app-pretty

구현 : api 연결 함수 적용 Issue #107
  app/inobus/lib/pages/map_page.dart
  app/inobus/lib/pages/use_history_page.dart
Due: app-pretty

구현: Filter를 이용한 augmentation 구현
  deep_learning/tools/augmentators/__init__.py
  deep_learning/tools/augmentators/kernel.py
  deep_learning/tools/data_augmentation.py
Due: none

문서 : 주석 추가
  app/inobus/lib/pages/barcode_page.dart
Due: app-pretty

추가 : 이미지 추가 - 쓰샘 기기 이미지 (이후에 변경요망) - 핸드폰 이미지 (이후에 2개로 나눠서 변경 오먕) - 플라스틱 컵 이미지 Issue #77
  app/inobus/assets/images/cup_image.PNG
  app/inobus/assets/images/phone_image.PNG
  app/inobus/lib/app_images.dart
Due: app-pretty

문서 : class 설명 주석 추가
  app/inobus/lib/pages/point_page.dart
Due: app-pretty

구현 : 이용 안내 페이지 추가
  app/inobus/lib/pages/pages.dart
  app/inobus/lib/routes.dart
Due: app-pretty

구현 : 쓰샘 기기 이용안내 페이지 구현 Issue #124
  app/inobus/lib/pages/barcode_page.dart
  app/inobus/lib/pages/information_page.dart
Due: app-pretty

구현 : 기기 정보 관련 JsonSerializable 구현
  app/inobus/lib/api/device.dart
  app/inobus/lib/api/device.g.dart
Due: app-pretty

수정 : 기관 JsonSerializable 수정
  app/inobus/lib/api/orgainzation.dart
  app/inobus/lib/api/orgainzation.g.dart
Due: app-pretty

구현 : 기관 순위 row 리스트 ListTile로 수정 Issue #122
  app/inobus/lib/pages/use_history_page.dart
Due: app-pretty

버그: 백엔드 uvicorn 버젼 고정
  backend/requirements/deployment.txt
Due: none

Path conditions:
  app-pretty: any of: *.dart and ^app/
  backend-lint: any of: *.py and ^backend/
  backend-isort: any of: *.py and ^backend/
